body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Avatar{
    width: 150px;
}
.card{
    width: 400px;
    margin: 0 auto;
    padding: 20x;
    display: flex;
    justify-content: space-around;
    text-align:center ;
    background: brown;
    color: rgb(172, 127, 255);
    border-bottom: 6px solid #d8ced8;
}
.border blue{
    border: 1px dotted blueviolet;
}


 